
body {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: inherit;
  padding: 10px 20px;
  margin: 20px;
  background: #DDD;
}